.caja-compra{
    display: flex;
    justify-content: center;
    height: 80rem;
    width: 90rem;
    padding-bottom: 5%;
    padding-top: 2%;
}

.container-compra{
    display: flex;
    height: 60%;
    width: 90%;
}

.compra_left{
    height: 100%;
    width: 50%;
    padding: 2%;
}

.compra_right{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 2%;
}

.opciones-compra select{
    color: white;
    height: 3rem;
    width: 50%;
    border-radius: 3px;
    margin-bottom: 3%;
    font-size: 20px;
    border: 3px solid #fcf75d;
    background: transparent;
    box-shadow: 3px 2px 22px 5px rgba(252, 247, 93, 0.20);
}
option{
    color: black;
}

.boton_compra{
    color: white;
    height: 2rem;
    width: 8rem;
    margin-left: 2%;
    background-color: transparent;
}
#cantidad{
    color: white;
    border: 4px solid #042047;
    background-color: transparent;
    box-shadow: 3px 2px 22px 5px rgba(4, 32, 100, 0.44);
}

#add{
    border: 3px solid #b9ffff;
    box-shadow: 3px 2px 22px 5px rgba(185, 255, 255, 0.20);
}
#add:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(185, 255, 255, 0.14);
}
#buy{
    margin: 2%;
    border: 3px solid #b4ff94;
    box-shadow: 3px 2px 22px 5px rgba(180, 255, 148, 0.20);
}
#buy:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(180, 255, 148, 0.14);
}
#clear{
    border: 3px solid #db1167;
    box-shadow: 3px 2px 22px 5px rgba(219, 17, 103, 0.20);
}
#clear:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(219, 17, 103, 0.14);
}
#back{
    margin-top: 10%;
    border: 1px solid #9c15dc;
    box-shadow: 3px 2px 22px 5px rgba(156, 21, 220, 0.20);
}
#back:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(156, 21, 220, 0.14);
}

.tabla{
    padding: 1%;
    color: #eaeaea;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 1px 1px 80px black;
    height: 50%;
    width: 90%;
}

.tabla table{
    background: #212529;
    width: 100%;

    height: auto;
    
}

th{
    border: 1px solid white;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin: 2rem;
}
tfoot{
    text-align: right   ;
}

.informacion{
    background-color: #202020;
    height: 90%;
    width: 90%;
    border-radius: 5px;
    box-shadow: 10px 5px 50px black;
    text-align: center;
}

#imagen{
    margin: 2%;
    height: 40%;
    margin-bottom: 5%;
}
#imagen img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#description{
    margin: 2%;
    color: white;
    max-height: 40%;
}