.caja-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #ffd5ff;
    border: 3px solid #35e5e2;
    background: rgba(72, 107, 211, 0.27);
    box-shadow: 3px 2px 22px 5px rgba(53, 229, 226, 0.24);
}

#titulo-head{
    color: #ffd5ff;
}

#imagens-head{
    max-width: 6%;
}

#imagen2{
    max-width: 6%;

}